.RouterPanel{
    background-color: white;
    padding: 12px;
    margin: 0 auto;
    z-index: 1;
    position: absolute;
    width: 100%;
}

.inputPoint {
    margin-top: 0px;
    margin: auto;
}

.inputPoint:first-child {
  margin-bottom: 12px;
}

.ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 33px !important;
}

.StartPoint {
  background-color: #f33;
}

.StartPoint::before {
  content: "A";
}

.FinishPoint {
  background-color: #4296ea;
}

.FinishPoint::before {
  content: "B";
}
