.Profile {
    background: #f1f1f1;        
    margin-top: 56px;
}

.Profile-Container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-bottom: 0 !important;    
}

.Profile-Link {
    padding: 0 5px;
    /* color: blue; */
    /* font-size: 0.8em; */
}