@import "../../styles/media";

.RideDetails {
    top: 70px;
    @media @iphone5 {
        top: 10px;
    }   
}

.RideDetails-Map {
    height: 350px;
}

.RideDetails-Info {
    padding: 13px 16px;
}

.RideDetails-Row {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.RideDetails-PointFrom,
.RideDetails-PointTo,
// .RideDetails-TimeFrom,
// .RideDetails-TimeTo
{
    overflow: hidden;
    text-overflow: ellipsis;
}

.RideDetails-PointFrom::before,
.RideDetails-PointTo::before
{
    font-size: 0px;
    content: " ";
    border-style: solid;
    border-width: 3px;
    border-radius: 50px;
    position: relative;
    top: -4px;
    margin-right: 5px;
} 

.RideDetails-PointFrom::before {
    border-color: red;
}
.RideDetails-PointTo::before {
    border-color: blue;    
}

.RideDetails-RouteDescription {
    font-weight: bold;
}