.Page {
    font-family: "Source Sans Pro","Trebuchet MS",sans-serif;
    color: black;
    margin: 0;
    padding: 0 !important;
}

.Container {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
}
