.Ride {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid gray;
}

.Ride-Details {
    height: 300px;    
}

.Ride-Date {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-size: 18px; */
}

.Ride-Date_hidden {
    display: none;
}

.Ride:last-child {
    border: none;
}

.Ride-From, 
.Ride-To,
.Ride-BoardingTime,
.Ride-LandingTime,
.Ride-TransportNumber,
.Ride-TransportType,
.Ride-PaymentValue,
.Ride-PaymentCurrency
{
    padding: 8px 5px;
}

.Ride-Graph {
    display: flex;
    flex-flow: column nowrap;
    padding: 11px 0;
}

.Ride-Circle {
    width: 10px;
    height: 10px;
    background: white;
    border-style: solid;
    border-width: 3px;
    border-radius: 50px;
    padding: 3px;
}

.Ride-Arrow {
    font-size: 1.1em;
    flex: 1;
    position: relative;
    top: 4px;
    left: -1px;
}

.Ride-Circle_color_red {
    border-color: red;
}

.Ride-Circle_color_blue {
    border-color: blue;
}

.Ride-Places {
    flex: 7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Ride-To, .Ride-From {
    overflow: hidden;
    text-overflow: ellipsis;
}

.Ride-Timestamps {
    flex: 2;
}

.Ride-Transport {
    flex: 0 40px;    
    text-align: center;
    color: white;
    border-bottom-left-radius: 1em;
    border: 1px solid;
    /* border-right: none; */
}

.Ride-Transport_type_t {
    background: white;
    color: blue;
    border-color: blue;
}

.Ride-Transport_type_a {
    background: limegreen;
}

.Ride-Payment {
    flex: 0 40px;
    text-align: center;
    background: white;
    color: red;
    border: 1px solid red;
    /* border-left: 0.5px solid black; */
    border-left: none;
    border-top-right-radius: 1em;
}
