.CircleButton {
    width: 44px;
    height: 44px;
    outline: 0;
    opacity: .92;
    display: block;
    font-weight: 100;
    margin-bottom: 8px;
    border-radius: 50%;
    border: 0;
    background-color: #ffffff;
    background-position: 50%;
    background-repeat: no-repeat;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
    color: #555;
}

.CircleButton:hover {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.4);
}