.History {
    background: white;
    margin-top: 56px;    
}

.History-Dates {
    display: flex;
    align-items: baseline;
}

.History-Date {
    flex-basis: 231px;
}

.History-DateFrom {
    padding-right: 5px;
}

.History-DateTo {
    padding: 0 5px
}

.History-Info {
    margin-top: 5px;
}