.Balance {
    background: white;
}

.Balance-title {
    text-align: center;
}

.Balance-Info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;   
}

.Balance-Value {
    font-size: 1.5em;
}