.Map {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.ZoomIn{
    background-image: url("./logoZoomIn.svg");
}

.ZoomOut{
    background-image: url("./logoZoomOut.svg");
}

.ZoomNav {
    bottom: 130px;
}

