.Nav {
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
    background-image: linear-gradient(to bottom, #2874f0 0, #2874f0 100%);
    border-bottom: 1px solid #2874ff;
}

.Nav-Container {
    display: flex;
    align-items: center;
    padding: 10px 15px !important;
}

.Nav-Button {
    background: none !important;
    color: white !important;    
    border: none !important;
}

.Nav-Title {
    margin: 0;
    padding: 0 15px;
    color: white;
}
